<!DOCTYPE html>
<html lang="en">
        <%- include("./partials/head.ejs") %>
<body>
    <div class="404-photo">
        <h1>not found</h1>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>